<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org " xmlns:layout="http://www.utraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <base href="/">
  <th:block th:replace="~{fragments/fragment-app :: link}"></th:block>
  </base>
</head>
<body class="sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed sidebar-closed sidebar-collapse text-sm" th:with="active=${'Gmedicament'}">
<div class="wrapper">
  <th:block th:replace="~{fragments/fragment-app :: header}"></th:block>
  <th:block th:replace="~{fragments/fragment-app :: menu}"></th:block>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Gestion des Medicaments</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">liste Medicaments</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <!-- /.card-header -->
              <div class="card-body">
                   <button type="button" class="btn btn-block btn-info col-2 mb-2" data-toggle="modal" data-target="#modal-lm"> + ajouter Medicament</button>
                <table id="example1" class="table">
                  <thead class="thead-dark">
                  <tr>
                    <th>Numero Medicament</th>
                    <th>Nom Medicament</th>
                    <th>Type</th>
                    <th>Nbr de grains</th>
                    <th></th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr th:each="medicament : ${medicaments}">
                    <td th:text="${medicament.id}"></td>
                    <td th:text="${medicament.NomM}"></td>
                    <td th:text="${medicament.Type}"></td>
                    <td th:text="${medicament.Nbrgrain}"></td>
                    <td>
                      <div class="btn-group btn-group-sm">
                        <a th:href="${'/deleteMedicament/'+medicament.id}" class="btn text-danger"><i class="fas fa-trash"></i></a>
                      </div>
                    </td>
                  </tr>
                  </tbody>
                  <tfoot>
                  <tr>
                   <th>Numero Medicament</th>
                    <th>Nom Medicament</th>
                    <th>Type</th>
                    <th>Nbr de grains</th>
                    <th></th>
                  </tr>
                  </tfoot>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
       <!-- /.modal -->

      <div class="modal fade" id="modal-lm">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <form th:method="post" th:action="@{/addMedicament}" th:object="${medicamentobject}">
            <div class="modal-header">
              <h4 class="modal-title">Ajouter Medicament</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <label for="inputNameM">Nom Medicament</label>
                <input type="text" id="inputNameM" class="form-control" th:field="*{NomM}">
              </div>
              <div class="form-group">
                <label for="inputTypeM">Type</label>
                <input type="text" id="inputTypeM" class="form-control" th:field="*{Type}">
              </div>
              <div class="form-group">
                <label for="inputNbrgrainsM">Nombre de grains</label>
                <input type="number" id="inputNbrgrainsM" class="form-control" th:field="*{Nbrgrain}">
              </div>
              


            </div>
            <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
              <button type="submit" class="btn btn-info">Ajouter</button>
            </div>
            </form>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
      <!-- /.modal -->


    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
  <th:block th:replace="~{fragments/fragment-app :: footer}"></th:block>
</div>
<th:block th:replace="~{fragments/fragment-app :: script}"></th:block>
</body>
</html>
