<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org " xmlns:layout="http://www.utraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <base href="/">
  <th:block th:replace="~{fragments/fragment-app :: link}"></th:block>
  </base>
</head>
<body class="sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed sidebar-closed sidebar-collapse text-sm">
<div class="wrapper">
  <th:block th:replace="~{fragments/fragment-app :: header}"></th:block>
  <th:block th:replace="~{fragments/fragment-app :: menu}"></th:block>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Liste RDV</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">liste RDV</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <!-- /.card-header -->
              <div class="card-body">
                  
                <table id="example1" class="table table-bordered table-striped">
                  <thead>
                  <tr>
                    <th>Numero RDV</th>
                    <th>Nom de patient</th>
                    <th>Date de RDV</th>
                    <th>Heure debut</th>
                    <th>Heure fin</th>
                    <th>Traitement</th>
                    <th></th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr th:each="rdv : ${rdvs}">
                    <td th:text="${rdv.id}">1</td>
                    <td th:text="${rdv.patient.Nom+' '+rdv.patient.Prenom}"></td>
                    <td th:text="${rdv.DateRdv}"></td>
                    <td th:text="${rdv.HeureRdv}"></td>
                    <td th:text="${rdv.HeureFin}"></td>
                    <td th:text="${rdv.Traitement}"></td>
                    <td> 
                      <div class="btn-group btn-group-sm">
                        <a href="#" class="btn btn-info"><i class="fas fa-plus"></i> <b>A la salle d'attente</b></a>
                      </div>
                    </td>
                  </tr>
                  </tbody>
                  <tfoot>
                  <tr>
                    <th>Numero RDV</th>
                    <th>Nom de patient</th>
                    <th>Date de RDV</th>
                    <th>Heure debut</th>
                    <th>Heure fin</th>
                    <th>Traitement</th>
                    <th></th>
                  </tr>
                  </tfoot>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
       <!-- /.modal -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
  <!-- Main Footer -->
  <th:block th:replace="~{fragments/fragment-app :: footer}"></th:block>
</div>
<th:block th:replace="~{fragments/fragment-app :: script}"></th:block>
</body>
</html>
