<div th:fragment="calcul" th:remove="tag">
    <script th:inline="javascript">
        //on load
        var depenses=[[${depenses}]];
        var recettes=[[${recettes}]];
        var totalD=0;
        var totalR=0;
        var VA=0;
        remplirDepenses(depenses);
        remplirRecettes(recettes);
        VA = totalR - totalD;
        //remplir valeur ajoutee
        remplirVA(VA);

        function personaliser(){
            totalD=0;
            totalR=0;
            VA=0;
            if(!$("#dateD").val() && !$("#dateF").val()){
                initTableRecette();
                initTableDepense();
                remplirDepenses(depenses);
                remplirRecettes(recettes);
                VA = totalR - totalD;
                //remplir valeur ajoutee
                remplirVA(VA);
            }
            else {
                var dateD = new Date($("#dateD").val());
                var dateF = new Date($("#dateF").val());
                let depenseP = [];
                let recetteP = [];
                // pour Depense
                for (const depense of depenses) {
                    var date = new Date(depense['datePayment']);
                    if (date >= dateD && date <= dateF) {
                        depenseP.push(depense);
                    }
                }
                //pour Recette
                for (const recette of recettes) {
                    var date = new Date(recette['datePayment']);
                    if (date >= dateD && date <= dateF) {
                        recetteP.push(recette);
                    }

                }
                //remplir reglement
                initTableRecette();
                remplirRecettes(recetteP);
                //remplir Depense
                initTableDepense();
                remplirDepenses(depenseP);
                //remplir valeur ajoutee
                VA = totalR - totalD;
                remplirVA(VA);
            }
        }

        function remplirDepenses(Depenses){
        for(const reglement of Depenses) {
            totalD = totalD + reglement['montantPaye'];
            var tr = $('<tr/>');
            var td1 = $('<td/>');
            var td2 = $('<td/>');
            var td3 = $('<td/>');
            td1.text(reglement['id']);
            td2.text(reglement['datePayment']);
            td3.text(reglement['montantPaye']);
            tr.append(td1);
            tr.append(td2);
            tr.append(td3);
            $("#tbody1").append(tr)
        }
            $("#totalDepense").val(totalD);
        }

        function remplirRecettes(Recettes){
            for(const reglement of Recettes) {
                totalR = totalR + reglement['montantPaye'];
                var tr = $('<tr/>');
                var td1 = $('<td/>');
                var td2 = $('<td/>');
                var td3 = $('<td/>');
                td1.text(reglement['id']);
                td2.text(reglement['datePayment']);
                td3.text(reglement['montantPaye']);
                tr.append(td1);
                tr.append(td2);
                tr.append(td3);
                $("#tbody2").append(tr)
            }
            $("#totalRecette").val(totalR);
        }
        function initTableRecette(){$("#tbody2").empty();}
        function initTableDepense(){  $("#tbody1").empty();}
        function remplirVA(VA){  $("#VA").val(VA);}
    </script>
</div>